html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family:"Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #1B2330;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

/* Get Started Button */

.get-started-btn{
  display: inline-block;
  max-width: 241px;
  padding: 16px 81px;
  border: none;
  margin-top: 32px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #34A0CD;
  background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: opacity 0.3s ease;
}

.get-started-btn:hover{
  opacity: 0.8;
}

.get-started-btn:active{
  opacity: 0.4;
}

/* Section heading */

.section-heading{
  margin: 0;
  margin-top: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* Site Nav */

.site-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 24px;
}

.logo{
  display: block;
  transition: opacity 0.3s ease;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.4;
}

.nav-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-link{
  display: inline-block;
  margin: 5px 12px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.nav-link:nth-child(1){
  margin-left: 0;
}

.nav-link:nth-last-child(3){
  margin-right: 0;
}

.nav-link:hover{
  color: #34A0CD;
}

.nav-link:active{
  color: #4389a7;
}

/* Site Header */

.site-header{
  padding: 20px 0;
  margin-top: 28px;
  text-align: center;
}

.header-img{
  width: 304px;
  height: 224px;
}

.header-heading{
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  margin-top: 33px;
}

.header-text{
  margin-top: 15px;
}

/* Features Content */

.features{
  padding: 20px 0;
  margin-top: 80px;
  text-align: center;
}

.features-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.features-item{
  margin-top: 80px;
}

.features-item:nth-child(1){
  margin-top: 0;
}

.feature-heading{
  font-family: " Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 24px;
}

.feture-text{
  margin-top: 8px;
}

/* Article section */

.article{
  padding-top: 20px 0;
  margin-top: 120px;
  text-align: center;
}

.article-text{
  margin: 0;
  margin-top: 16px;
  text-align: left;
}

.how-works-link{
  position: relative;
  display: block;
  width: 130px;
  padding-bottom: 6px;
  border-bottom: 1px solid #62E0D9;
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #62E0D9;
  text-decoration: none;
  text-align: left;
  transition: opacity 0.3s ease;
}

.how-works-link::after{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/oval.svg);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.how-works-link:hover{
  opacity: 0.8;
}

.how-works-link:active{
  opacity: 0.4;
}

/* Comments */

.comments{
  padding-top: 20px 0;
  margin-top: 130px;
}

.comments-content{
  display: flex;
  justify-content: center;
}

.comments-list{
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.comments-list::before{
  position: absolute;
  top: -2%;
  z-index: -1;
  display: inline-block;
  width: 32px;
  height: 50px;
  background-image: url(../img/comment.svg);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.comments-item{
  width: 280px;
  padding: 24px 20px 21px 20px;
  margin-top: 24px;
  background-color: #202A3C;
  box-shadow: 0px 0px 8px rgba(56, 56, 56, 0.0458843);
  border-radius: 3.93258px;
}

.comments-item:nth-child(1){
  margin-top: 0;
}

.comments-text{
  margin: 0;
  font-size: 10px;
  line-height: 18px;
}

.commentor{
  display: flex;
  align-items: center;
  margin-top: 17px;
}

.commentor img{
  margin-bottom: 2px;
  margin: 8px;
}

.commentor-intials{
  display: flex;
  flex-direction: column;
}

.commentor-name{
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
}

.commentor-position{
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.57px;
  margin-top: 4px;
}

/* Registration */

.registration{
  padding: 20px 0;
  margin-top: 120px;
  background-color: #1B2330;
  background-image: linear-gradient(
  to top,
  #0B1524 50%,
  #1B2330 50%
  );
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 28px;
  background-color: #1B2330;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  border-radius: 9px;
  text-align: center;
}

.registration-heading{
  margin: 0;
}

.registration-text{
  margin: 0;
  margin-top: 16px;
}

.email-input{
  width: 280px;
  padding: 16px 0 16px 29px;
  margin-top: 32px;
  border: none;
  background: #FFFFFF;
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
}

.email-input::placeholder{
  font-size: 10px;
  line-height: 14px;
  color: #C0C0C0;
}

.register-btn{
  display: block;
  min-width: 280px;
  padding: 16px 72px;
}

/* Site footer */

.site-footer{
  padding: 50px 0 6px 0;
  background-color: #0B1524;
}

.contacts{
  display: flex;
  flex-direction: column;
  padding: 16px 18px;
  margin-top: 24px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contacts p{
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.tel-link,
.email-link{
  display: block;
  margin-top: 16px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.tel-link:hover,
.email-link:hover{
  color: #34A0CD;
}

.tel-link:active,
.email-link:active{
  opacity: 0.6;
}

.pages-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 20px;
  margin-left: 20px;
}

.pages-list-first{
  margin-top: 40px;
}

.pages-list-second{
  margin-top: 32px;
  margin-bottom: 32px;
}

.pages-link{
  display: inline-block;
  padding: 8px;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}

.pages-link:hover{
  color: #34A0CD;
}

.pages-link:active{
  opacity: 0.6;
}

.socails{
  display: flex;
  width: 103px;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  margin-left: auto;
  margin-right: auto;
}

.socials-link{
  display: inline-block;
  transition: opacity 0.3s ease;
}

.socials-link:hover{
  opacity: 0.6;
}

.socials-link:active{
  opacity: 0.4;
}