html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family:"Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background-color: #1B2330;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

/* Get Started Button */

.get-started-btn{
  display: inline-block;
  width: 240px;
  padding: 16px 0;
  margin-top: 32px;
  background: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 24px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.get-started-btn:hover{
  opacity: 0.8;
}

.get-started-btn:active{
  opacity: 0.4;
}

/* Section heading */

.section-heading{
  margin: 0;
  margin-top: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* Site Nav */

.site-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 24px;
}

.logo{
  display: block;
  transition: opacity 0.3s ease;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.4;
}

.nav-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-link{
  display: inline-block;
  margin: 5px 12px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:nth-child(1){
  margin-left: 0;
}

.nav-link:nth-last-child(3){
  margin-right: 0;
}

.nav-link:hover{
  color: #34A0CD;
}

.nav-link:active{
  color: #4389a7;
}

/* Site Header */

.site-header{
  margin-top: 48px;
  text-align: center;
}

.header-img{
  width: 304px;
  height: 224px;
}

.header-heading{
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  margin-top: 33px;
}

.header-text{
  margin-top: 15px;
}

/* Features Content */

.features{
  margin-top: 120px;
  text-align: center;
}

.features-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.features-item{
  margin-top: 80px;
}

.features-item:nth-child(1){
  margin-top: 0;
}

.feature-heading{
  font-family: " Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 24px;
}

.feture-text{
  margin-top: 8px;
}

/* Article section */

.article{
  margin-top: 160px;
  text-align: center;
}

.article-text{
  margin: 0;
  margin-top: 16px;
  text-align: left;
}

.how-works-link{
  position: relative;
  display: block;
  width: 130px;
  padding-bottom: 6px;
  border-bottom: 1px solid #62E0D9;
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #62E0D9;
  text-decoration: none;
  text-align: left;
  transition: opacity 0.3s ease;
}

.how-works-link::after{
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/oval.svg);
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.how-works-link:hover{
  opacity: 0.8;
}

.how-works-link:active{
  opacity: 0.4;
}